<div class="col-6">
    <div class="content">
        <h1 class="heading">Effortless<br>Project Management<br>for Your Team</h1>
        <p class="p1">Streamline collaboration, track progress, and achieve project success with our powerful project management platform. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn" style="float:left;">Get Started</button>
        <div class="clearfix"></div>
        <br><br><br><br>
        <img src="/image/tasks.png" class="icon">
        <img src="/image/calender.png" class="icon">
        <img src="/image/communication.png" class="icon">
    </div>
</div>
<div class="col-6">
    <br>
    <img src="/image/dashboard.jpg" class="banner-img">
</div>
<div class="clearfix"></div>
</section>

<section>
<br><br><br><br>
<div class="container">
    <h2 class="heading-2">Key Features of Our Project Management Platform</h2>
    <p class="p2">Experience the following features designed to enhance collaboration and project efficiency.</p>
    <div class="col-4">
        <div class="box active">
            <i class="fa fa-tasks icon1"></i>
            <br><br>
            <h2 class="heading-3">Task Management</h2>
            <br>
            <p class="p3">Efficiently organize and manage tasks, assign responsibilities, and track progress seamlessly.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="box">
            <i class="fa fa-calendar icon1"></i>
            <br><br>
            <h2 class="heading-3">Calendar Integration</h2>
            <br>
            <p class="p3">Integrate project timelines with a calendar, ensuring deadlines are met and milestones achieved.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="box">
            <i class="fa fa-comments icon1"></i>
            <br><br>
            <h2 class="heading-3">Real-time Communication</h2>
            <br>
            <p class="p3">Facilitate seamless communication among team members with real-time messaging and collaboration tools.</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</section>

<section>
<br><br><br><br>
<div class="container">
    <div class="col-6">
        <img src="/image/collaboration.jpg" class="com-p">
    </div>
    <div class="col-6">
        <h2 class="heading-4">Start Collaborating Today</h2>
        <br>
        <p class="p4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn" style="float:left;">Get Started</button>
    </div>
    <div class="clearfix"></div>
    <br><br><br><br>
</div>
</section>

<section class="green-sec">
<br><br><br><br>
<div class="container">
    <div class="col-6">
        <h2 class="heading">Transform Your Project<br>Management Experience</h2>
        <br>
        <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn" style="float:left;">Get Started</button>
    </div>
    <div class="col-6" style="text-align: center;">
        <br>
        <img src="/image/teamwork.png">
    </div>
    <div class="clearfix"></div>
    <br><br><br><br>
</div>
</section>

<section>
<br><br><br><br>
<div class="container">
    <div class="col-6">
        <img src="/image/mobile-app.png" class="com-p">
    </div>
    <div class="col-6">
        <h2 class="heading-4">Access Anytime, Anywhere</h2>
        <br>
        <p class="p4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button class="btn" style="float:left;">Get Started</button>
    </div>
    <div class="clearfix"></div>
    <br><br><br><br>
</div>
</section>

<section class="green-sec">
<br><br><br><br>
<div class="container">
    <div class="col-3">
        <ul class="foot-menu">
            <li><h2 class="logo">CollabMatrix</h2></li>
            <li>
                <div class="search-outer">
                    <i class="fa fa-envelope"></i>
                    <input type="text" class="search">
                    <i class="fa fa-send"></i>
                </div>
            </li>
        </ul>
    </div>
</section>